.link-outline {
  text-decoration: none;
  border: 1px solid;
  border-radius: 5px;
  padding: 0.4em 0.9em 0.45em;
  white-space: nowrap; }

.call-to-action {
  font-size: 14pt;
  color: white;
  background-color: #0EDFA0;
  border-color: #0EDFA0;
  width: 18rem;
  text-align: center; }

.call-to-action:visited {
  color: white; }

.call-to-action:hover {
  color: #0EDFA0;
  background-color: white;
  border-color: white;
  text-decoration: none; }

.call-to-action > .dark {
  color: black; }

.dark {
  color: #814AA1; }

.dark:visited {
  color: #814AA1; }

.dark:hover {
  color: #F6F3F0;
  background-color: #F58150; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/******************************
* Grid context
*/
/******************************
 * Columns
*/
/* Horizontal side-by-side with elements verticaly and horizontaly centered */
/* Vertical stacked column with elements verticaly and horizontaly centered */
.item {
  display: none; }

.active {
  display: inherit; }

body {
  background-color: #F2F4F6; }

main {
  max-width: 1300px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0px 0px 3px 1px #eeeeee; }

section {
  padding-top: 2rem; }

#hero {
  height: 28rem;
  padding-top: 5rem;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5)), url("../../images/forest-girl.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  width: 100%;
  border: 0; }

#hero section {
  padding-top: 0; }

#hero img {
  max-width: 40rem;
  margin: 0 auto; }

#hero hgroup {
  padding-top: 4rem; }

#hero h1, #hero h2, #hero h4 {
  text-align: center;
  font-weight: 600;
  color: #f6f3f0; }

#hero h2 {
  font-weight: 100;
  font-size: 16px; }

.three-column {
  display: block;
  flex-direction: row; }

.three-column > div {
  padding: 1rem;
  text-align: center; }

.three-column span {
  font-size: 3rem; }

.three-column h4 {
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem; }

.three-column div p {
  margin-top: 0; }

#love {
  text-align: center; }

#love span {
  font-size: 1.5rem; }

#love h4 {
  font-weight: bold; }

.fa {
  font-size: 10rem;
  color: #0edfa0; }

header {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

header nav {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14pt; }

header nav > ul a {
  color: #0edfa0; }

footer section {
  padding: 0; }

footer nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-left: 0;
  list-style: none;
  margin: 0; }

footer nav ul li {
  padding: 0 1rem;
  padding-bottom: .5rem; }

footer nav ul a {
  padding-bottom: 0;
  font-size: 2rem; }

footer .fa {
  color: #6f664e; }

footer p {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: .5rem;
  font-size: 12pt; }

blockquote {
  font-style: italic; }

#get-power {
  border: 0;
  border-top: .3rem;
  border-style: solid;
  border-color: #0edfa0; }

header img {
  height: 2.5rem; }

.img-circle {
  border-radius: 50%; }

.centered {
  text-align: center; }

#menu-icon {
  display: flex;
  height: 1rem; }

.headline {
  text-align: center;
  font-size: 1.5rem;
  padding: inherit 1rem; }

.overlay {
  height: 20rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-bottom-color: #0edfa0;
  border-bottom-width: 0.1rem;
  border-bottom-style: solid; }

.overlay h2 {
  padding-top: 8rem; }

#highlight {
  background-color: #0edfa0;
  height: 12rem;
  padding-left: 1rem;
  padding-right: 1rem; }

#automatic {
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5)), url("../../images/girl-writing.jpg");
  background-size: cover; }

#coffee {
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5)), url("../../images/coffee.jpg");
  background-size: cover; }

#everyday-people {
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5)), url("../../images/sisters-profile.jpg");
  background-position: center top;
  background-size: cover; }

#nature {
  background-image: url("../../images/nature-legs.jpg");
  align-items: flex-end;
  padding-bottom: 3rem; }

#continue {
  display: flex;
  align-self: center;
  height: 1rem; }

#really-counts {
  padding-top: 0;
  padding-bottom: 1rem; }

#really-counts h2 {
  margin-top: 0;
  margin-bottom: 0; }

a, a:visited {
  color: #0edfa0; }

h1 {
  font-size: 28px; }

h2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 22px;
  font-weight: lighter; }

.headline {
  font-weight: normal; }

h3, h4 {
  font-weight: lighter; }

li {
  padding-left: 0; }

li > p {
  color: black; }

/******************************
* Modal
/*******************************/
.modalDialog {
  position: fixed;
  top: -35px;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none; }

.modalDialog:target {
  opacity: 1;
  pointer-events: auto; }

.modalDialog > div {
  width: 450px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -webkit-linear-gradient(white, #999999);
  background: -o-linear-gradient(white, #999999);
  background: linear-gradient(white, #999999); }

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000; }

.close:hover {
  background: #00d9ff; }

.testimonials {
  padding-top: 5rem;
  padding-bottom: 1rem; }

.carousel-indicators {
  top: -2rem; }

footer {
  text-align: center;
  background-color: #231F1C;
  color: #6f664e; }

@media screen and (max-width: 369px) {
  header {
    padding-left: 1rem; } }
@media screen and (max-width: 480px) {
  width: 100%; }
@media screen and (max-width: 979px) {
  header nav {
    position: fixed;
    padding-top: 3rem;
    margin-top: -3rem;
    height: 120%;
    width: 100%;
    background-color: rgba(14, 223, 160, 0.9);
    color: white;
    flex-direction: column;
    justify-content: flex-start;
    right: -10000px; }

  nav ul {
    padding-top: 1rem;
    list-style: none; }

  nav ul a {
    text-decoration: none;
    font-size: 2rem;
    padding-bottom: 10rem;
    line-height: 150%; }

  nav ul a:visited {
    color: white; } }
@media screen and (min-width: 980px) {
  #close-menu {
    display: none; }

  section {
    max-width: 45rem; }

  header {
    display: flex;
    align-items: baseline;
    padding-left: 3rem; }

  header nav > ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0; }

  header nav > li {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    padding: 0 5rem;
    margin: 0; }

  header nav a {
    text-decoration: none; }

  #menu-icon {
    display: none; }

  #hero {
    padding-top: 7rem;
    height: 38rem; }

  #hero hgroup {
    padding-top: 8rem; }

  #hero h1 {
    font-size: 200%; }

  #hero h2 {
    font-size: 100%; }

  .three-column {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem; }

  .longer {
    max-width: 78rem; }

  .overlay {
    height: 40rem; }

  .headline {
    font-size: 3rem; }

  .video iframe {
    height: 25rem;
    width: 100rem; }

  footer {
    padding-top: 1rem; } }
@media screen and (min-width: 1099px) {
  .why-features {
    max-width: 1200px; }

  .why-features li {
    width: 100rem;
    margin: 0 2rem; }

  .why-features ol {
    display: flex; } }
@media screen and (min-width: 1400px) {
  #hero {
    height: 44rem; } }
