.link-outline {
  text-decoration: none;
  border: 1px solid;
  border-radius: 5px;
  padding: 0.4em 0.9em 0.45em;
  white-space: nowrap; }

.call-to-action {
  font-size: 14pt;
  color: white;
  background-color: #0EDFA0;
  border-color: #0EDFA0;
  width: 18rem;
  text-align: center; }

.call-to-action:visited {
  color: white; }

.call-to-action:hover {
  color: #0EDFA0;
  background-color: white;
  border-color: white;
  text-decoration: none; }

.call-to-action > .dark {
  color: black; }

.dark {
  color: #814AA1; }

.dark:visited {
  color: #814AA1; }

.dark:hover {
  color: #F6F3F0;
  background-color: #F58150; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/******************************
* Grid context
*/
/******************************
 * Columns
*/
/* Horizontal side-by-side with elements verticaly and horizontaly centered */
/* Vertical stacked column with elements verticaly and horizontaly centered */
#hero {
  height: 34rem;
  padding-top: 2rem;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(11, 11, 11, 0.1) 60%), url("../../images/forest-girl.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  width: 100%;
  border: 0; }

#hero img {
  max-width: 40rem;
  margin: 0 auto; }

#hero hgroup {
  padding-top: 8rem; }

#hero h1, #hero h2, #hero h4 {
  text-align: center;
  font-weight: 500;
  color: #f6f3f0; }

#hero h2 {
  font-weight: 100;
  font-size: 16px; }

header nav {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

header nav > ul {
  display: none;
  /* hide menu items at mobile size and show menu-icon */ }

#get-power {
  border: 0;
  border-top: .3rem;
  border-style: solid;
  border-color: #0edfa0; }

header img {
  height: 2rem; }

#menu-icon {
  display: flex;
  height: 1rem; }

.headline {
  text-align: center; }

.overlay {
  height: 20rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; }

#highlight {
  background-color: #0edfa0;
  height: 12rem;
  padding-left: 1rem;
  padding-right: 1rem; }

#automatic {
  background-image: url("../../images/girl-writing.jpg"); }

#coffee {
  background-image: url("../../images/coffee.jpg"); }

#nature {
  background-image: url("../../images/nature-legs.jpg");
  align-items: flex-end;
  background-color: red;
  padding-bottom: 3rem; }

h1 {
  font-size: 28px; }

h2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 22px;
  font-weight: lighter; }

h3, h4 {
  font-weight: lighter; }

li {
  padding-left: 0; }

li > p {
  color: black; }

@media screen and (max-width: 480px) {
  width: 100%; }
@media screen and (min-width: 1000px) {
  #hero {
    height: 38rem; } }
@media screen and (min-width: 1099px) {
  .why-features {
    max-width: 1200px; }

  .why-features li {
    width: 100rem;
    margin: 0 2rem; }

  .why-features ol {
    display: flex; } }
@media screen and (min-width: 1400px) {
  #hero {
    height: 44rem; } }
