.link-outline{
  text-decoration: none;
  border: 1px solid;
  border-radius: 5px;
  padding: 0.4em 0.9em 0.45em;
  white-space: nowrap;
}

.call-to-action{
  justify-content: center;
  display: flex;
}
