.link-outline{
  text-decoration: none;
  border: 1px solid;
  border-radius: 5px;
  padding: 0.4em 0.9em 0.45em;
  white-space: nowrap;
}

.call-to-action{
  color: #F6F3F0;
}

.call-to-action:visited{
  color: #F6F3F0;
}

.call-to-action:hover{
  color: #F6F3F0;
  background-color: #F58150;
  border: #F58150;
  text-decoration: none;
}

.call-to-action > .dark {
  color: black;
}

.dark {
  color: #814AA1;
}

.dark:visited {
  color: #814AA1;
}

.dark:hover {
  color: #F6F3F0;
  background-color: #F58150;  
}
