
.link-outline{
  text-decoration: none;
  border: 1px solid;
  border-radius: 5px;
  padding: 0.4em 0.9em 0.45em;
  white-space: nowrap;
}

.call-to-action{
  font-size: 14pt;
  color: white;
  background-color: #0EDFA0;
  border-color: #0EDFA0;
  width: 18rem;
  text-align: center;
}

.call-to-action:visited{
  color: white;
  border-style: 3px solid #0EDFA0;
}

.call-to-action:hover{
  color: #0EDFA0;
  background-color: rgba(255,255,255,.9);
  text-decoration: none;
  border-style: 3px solid #0EDFA0;
}

.call-to-action > .dark {
  color: black;
}

.dark {
  color: #814AA1;
}

.dark:visited {
  color: #814AA1;
}

.dark:hover {
  color: #F6F3F0;
  background-color: #F58150;
}
