@import "modules/all";

.item{
	display: none;
}

.active{
	display: inherit;
}

body{
	background-color: #F2F4F6;
}

.slideout-menu a, .slideout-menu a:visited{
	color: white; // mobile
}

main{
	max-width: 1300px;
	margin: 0 auto;

	background-color: white;
	box-shadow: 0px 0px 3px 1px #eeeeee;
}

section{
	padding-top: 2rem;
}

.center{
	text-align: center;
}

#infoModal{
	width: 100%;
	height: 100%;
}

#hero {
	height: 28rem;
	padding-top: 5rem;
  background: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.5)), url("../../images/forest-girl.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	width: 100%;

	border: 0;
	// background-image: url("../../images/forest-girl.jpg");
	// background-image: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%, rgba(99,99,99,.1) 60%);
}

// #hero nav{
// 	background-color: gray;
// 	display: flex;
// 	justify-content: space-between;
// }

#hero section {
	padding-top: 0;
}

#hero img {
	max-width: 40rem;
	margin: 0 auto;
}

#hero hgroup {
	padding-top: 4rem;
	text-align: center;
	color: $white;
}

#hero h1, #hero h2, #hero h4 {
	font-weight: 600;
}

#hero h2 {
	font-weight: 100;
	font-size: 16px;
}

.three-column {
	display: block; // default handles mobile
	flex-direction: row;
}

.three-column > div {
	padding: 1rem;
	text-align: center;
}

.three-column span{
	font-size: 3rem;
}

.three-column h4{
	font-weight: bold;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.three-column div p{
	margin-top: 0;

}


#love{
	text-align: center;
}

#love span{
	font-size: 1.5rem;
}

#love h4{
	font-weight: bold;
}

.fa{
	font-size: 10rem;
	color: $primary;
}

header{
	padding: 1rem 2rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

header nav{
	margin-top: 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14pt;
}

header nav > ul{
	// display: none; /* hide menu items at mobile size and show menu-icon */
}

.email input{
	width: 20rem;
}

footer section{
	padding: 0;
}

footer nav ul{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
	padding-left: 0;
	list-style: none;
	margin: 0;
}

footer nav ul li{
	padding: 0 1rem;
	padding-bottom: .5rem;

}

footer nav ul a{
	padding-bottom: 0;
	font-size: 2rem;
}

footer .fa{
	color: darken(#CFC9BA,40%);
}

footer p{
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: .5rem;
	font-size: 12pt;
}

// header img{
// 	background-color: white;
// 	width: 100%;
// }

blockquote{
	font-style: italic;
}

#get-power{
	border: 0;
	border-top: .3rem;
	border-style: solid;
	border-color: $primary;
}

header img{
	height: 2.5rem;
}

.img-circle{
	border-radius: 50%;
}

.centered{
	text-align: center;
}

#menu-icon{
	display: flex;
	height: 1rem;
}
.headline{
	text-align: center;
	font-size: 1.5rem;
	padding: inherit 1rem;
}

.overlay{
	height: 20rem;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	// background-size: 30rem;

	display: flex;
	justify-content: center;
	align-items: center;

	color: white;

	border-bottom-color: $primary;
	border-bottom-width: 0.1rem;
	border-bottom-style: solid;
}

.overlay h2{
	padding-top: 8rem;
}

#highlight  {
	background-color: $primary;
	height: 12rem;
	padding-left: 1rem;
	padding-right: 1rem;
}


#automatic	{
	background: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.5)), url("../../images/girl-writing.jpg");
	background-size: cover;

}
#coffee			{
	background: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.5)), url("../../images/coffee.jpg");
	background-size: cover;
}
#everyday-people	{
	background: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.5)), url("../../images/sisters-profile.jpg");
	background-position: center top;
	background-size: cover;
}

#nature{
	background-image: url("../../images/nature-legs.jpg");
	align-items: flex-end;
	padding-bottom: 3rem;
}

#continue{
	display: flex;
	align-self: center;

	height: 1rem;
}

#really-counts{
	padding-top: 0;
	padding-bottom: 1rem;
}

#really-counts h2{
	margin-top: 0;
	margin-bottom: 0;
}

a, a:visited{
	color: $primary;
}

h1 {
	font-size: 28px;
}

h2 {
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-size: 22px;
	font-weight: lighter;
}

.headline{
	// font-size: 28px;
	font-weight: normal;
}

h3,h4{
	font-weight: lighter;
}

li{
	padding-left: 0;
}

li > h4{
	// color: darken($primary, 10%);
}

li > p {
	color: black;
}

/******************************
* Modal
/*******************************/

.modalDialog {
	position: fixed;
	top: -55px;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width:575px;
	color: black;
	text-align: left;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover {
	background: #00d9ff;
}

// mailchimp
.button {
	text-decoration: none;
	border: 1px solid;
	border-radius: 5px;
	border-color: #0EDFA0;
	color: white;
	background-color: #0EDFA0;
  padding: 0.4em 0.9em 0.45em;
}

.button:hover {
	background-color: white;
	color: #0EDFA0;
}

input {
	padding: 0.65em 0.75em;
	margin-bottom: .5rem;
	border: solid 2px gba(185,186,187,0.25);
	border-radius: 0.5em;
	outline: none;
}

//
// h3 {
// 	font-size: 22px;
// 	color: #4A4A4A;
// }
//
// h4 {
// 	font-size: 1.777rem;
// 	color: $black;
// 	font-weight: 100;
// 	font-style: italic;
// }
//
// img {
// 	width: 100%;
// }
//
// img > h2 {
// 	display: inline-block;
// 	vertical-align: middle;  /* vertical alignment of the inline element */
// 	color: white;
// 	position: absolute;
// 	transform: translateX(-50%) translateY(-50%);
// 	top: 55%;
// 	left: 50%;
// 	width: 100%;
// }
//
// p {
// 	line-height: 1.5rem;
// }
//
// .header_logo {
// 	background-image: url("../../images/logo/MyMoneyZen_Logo1.png");
// 	background-repeat: no-repeat;
// 	height: 60px;
// 	width: 328px;
// 	position: absolute;
// 	top: 1.5rem;
// }
//
// #hero h1{
// 	font-size: 28px;
// 	color: #FFFFFF;
// }
//
// #hero p{
// 	font-size: 16px;
// 	color: #FFFFFF;
// }
//
// header > nav > ul {
// 	display: flex;
//   flex-direction: row; /* default */
// 	align-items: right;
// 	flex-wrap: nowrap;
// 	justify-content: flex-end;
// 	align-content: stretch;
// 	align-items: flex-start;
// 	list-style: none;
//
// 	margin: 10px;
//
// 	color: $primary;
// }
//
// nav > ul li + li:before {
//   content: "|";
// 	padding: 0 .5rem;
// }
//
// section ol {
// 	// list-style: none;
// }
//
// section ol li {
// 	margin-bottom: 2rem;
// }
//
// section li i {
// 	padding-top: 1rem;
// }
//
// section li > h2 {
// 	text-align: center;
// }
//
// section li > .fa {
// 	font-size: 4rem;
// 	text-align: center;
// }
//
// section li p {
// 	margin: 0 1rem 2rem 1rem;
// }
//
// main {
// 	@include grid;
// 	display: flex;
// 	align-items: center;
// 	flex-flow: column;
// 	justify-content: center;
// }
//
// .grid > div {
// 	@include col-1-4;
//
// }
//
// // make header 100% width
// main > header {
// 	@include col-1-1;
// 	height: 100px;
// 	max-width: 1200px;
// }
//
// main > article {
// 	@include col-1-1;
// 	/* make the article a grid */
// 	@include grid;
// 	/* Colour for illustration purpose - remove from final*/
// 	display: flex;
// 	align-items: center;
// 	flex-flow: column;
// 	justify-content: center;
// }
//
// main > article > div {
// 	display: flex;
// 	flex-flow: row;
// 	align-items: center;
// 	justify-content: center;
//
// }
//
// main > aside {
// 	@include col-1-3;
// }
//
// main > footer {
// 	@include col-1-1;
// }
//
// .container {
// 	margin: 0 auto 3rem; //auto 4.236rem auto 1.618rem;
// 	// background-color: blue;
// }
//
// .overlay {
// 	display: flex;
// 	align-items: center;
// 	flex-direction: row;
// 	text-align: center;
// }
//
// footer {
// 	background-color: #282C34;
// 	padding-top: 4rem;
// }
//
// footer p {
// 	color: white;
// }
//
// footer i {
// 	margin-right: 1.5rem;
// 	color: white;
// }
//
// ul{
// 	padding-left: 0;
// }
//
// ul li {
// 	list-style-type: none;
// 	padding: 1rem 0;
// }
//
// ol li{
// 	padding: .25rem 0;
// }

// #why {
// 	background-image: url("../../images/person-woman-coffee-cup.jpg");
// 	background-repeat : no-repeat;
// 	background-position : 50% 50%;
// 	background-size:cover;
// 	width: 100%;
// 	height: 600px;
// 	padding:0;
// }
//
// #live-the-life {
// 	background-image: url("../../images/nature-person-feet-legs.jpg");
// 	background-repeat: no-repeat;
// 	background-position: center top;
// 	background-size:cover;
// 	width: 100%;
// 	height: 600px;
// 	padding:0;
// }
//
// #live-the-life section h2 {
// 	color: $white;
// }
//
.testimonials{
	padding-top: 5rem;
	padding-bottom: 1rem;
}
//
// .testimonials {
// 	border: none;
// }
//
// .get-started {
// 	padding-top: 0rem;
// }
//
// .center {
// 	text-align: center;
// }

.carousel-indicators{
	top: -2rem;
}

footer{
	text-align: center;
	background-color: #231F1C;
	color: darken(#CFC9BA,40%);
}

@media screen and (min-width: 369px) {

}

@media screen and (max-width: 369px) {
	// small display header fix
	header{
		padding-left: 1rem;
	}
}

@media screen and (max-width: 480px) {
	@include col-1-1;
}

@media screen and (max-width: 979px) {
	header nav{
		position: fixed;
		padding-top: 3rem;
		margin-top: -3rem;
		height: 120%;
		width: 100%;
		background-color: rgba(#0EDFA0, .9);
		// background-color: rgba(#92e8ce, 0.9);
		flex-direction: column;
		justify-content: flex-start;
		right: -10000px;
	}

	nav ul{
		padding-top: 1rem;
		list-style: none;
	}

	nav ul a{
		text-decoration: none;
		font-size: 2rem;
		padding-bottom: 10rem;
		line-height: 150%;
	}
	img#logo{
		// display: none;
	}
	img#menu-icon{
		// display: none;
	}
}

@media screen and (min-width: 980px) {
	#close-menu{
		display: none;
	}
	section{
		max-width: 45rem;
	}

	header{
		display: flex;
		align-items: baseline;
		padding-left: 3rem;
	}

	header nav > ul{
		display: flex;
		justify-content: space-around;
		list-style: none;
		margin: 0;
	}
	header nav > li{
		display: flex;
		text-decoration: none;
		list-style-type: none;
		padding: 0 5rem;
		margin: 0;
	}
	header nav a{
		text-decoration: none;
	}
	#menu-icon{
		display: none;
	}
	#hero{
		padding-top: 7rem;
		height: 38rem;
	}

	#hero hgroup{
		padding-top: 8rem;
	}

	#hero h1{
		font-size: 200%;
	}
	#hero h2{
		font-size: 100%;
	}
	.three-column{
		display: flex;
		flex-basis: 0;
		flex: 1;
		justify-content: space-between;
		padding-bottom: 3rem;
		// margin-left: -8rem;
		// width: 53rem;
	}
	.three-column > div{
		width: 12px;
		flex-grow: 1;
	}
	.longer{max-width: 78rem;}

	.overlay{
		height: 40rem;
	}
	.headline{
		font-size: 3rem;
	}
	.slideout-menu a, .slideout-menu a:visited{
		color: $primary; //not for mobile
	}
	.video iframe{
		height: 25rem;
		width: 100rem;
	}
	footer {
		padding-top: 1rem;
	}
}
@media screen and (min-width: 1099px) {
	.why-features {
		max-width: 1200px;
	}
	.why-features li {
			width: 100rem;
			margin: 0 2rem;
	}
	.why-features ol {
			display: flex;
	}
}
@media screen and (min-width: 1400px) {
	#hero{
		height: 44rem;
	}
}
